<% content_for :head do %>
  <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<% end %>

<div id="printer-config" data-print-url="<%= print_path %>" data-cut-url="<%= cut_path %>"></div>

<div class="container">
  <%= render "shared/header" %>

  <div class="editor-wrap">
    <div id="editor"></div>
  </div>

  <div class="actions">
    <button type="button" class="btn" onclick="submitPrint('print')">Print</button>
    <button type="button" class="btn btn-primary" onclick="submitPrint('print_and_cut')">Print & Cut</button>
    <button type="button" class="btn" onclick="submitCut()">Cut Paper</button>
  </div>

  <div class="history-section">
    <div class="history-header">
      <h2>Print History</h2>
      <input type="text" id="history-search" class="history-search" placeholder="Search prints...">
    </div>
    <div id="history-list" class="history-list"></div>
  </div>
</div>

<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<%= javascript_include_tag "printer" %>
